// nextflow.config


conda {
  enabled = true
}


process {
  executor       = 'slurm'
  clusterOptions = '-A CCBS_LAB --partition=standard --mem 32G --time=12:00:00'
  cpus           = 1

  withName: kb_count {
    memory = '32 GB'
    cpus   = 4
  }
  
  withName: make_adata {
    memory = '16 GB'
    cpus   = 1
  }


  withName: cellbender {
    clusterOptions = '-A seyedam_lab_gpu --partition=gpu --gres=gpu:1 --mem=128G --time=12:00:00'
    memory         = '32 GB'
    cpus           = 1
  }

}



params {
	file_csv =  "/share/crsp/lab/seyedam/weberrl/IGVF_allele_specific_expression/Allele_specific_expression_pipeline/pipeline_test/sample_sheet/full_config_test.csv"

    kb_replacement_bcs = "/share/crsp/lab/seyedam/weberrl/F1_IGVF/alignment_testing/r1_RT_replace_WT_mega_v2.txt"
	kb_onlist = "/share/crsp/lab/seyedam/weberrl/F1_IGVF/alignment_testing/r1r2r3_WT_mega_v2.txt"

    kb_index = "/share/crsp/lab/seyedam/weberrl/IGVF_allele_specific_expression/g2g_kb/scripts/cat_kb_indices/"

    make_adata_script = "/share/crsp/lab/seyedam/weberrl/IGVF_allele_specific_expression/Allele_specific_expression_pipeline/pipeline_test/scripts/make_total_adata.py"

}









