// nextflow.config

conda {
  enabled = true
}

process {
  executor       = 'slurm'
  clusterOptions = '-A SEYEDAM_LAB --partition=standard --time=24:00:00'
  cpus           = 1

    withName: kb_count {
    memory = '64 GB'
    cpus   = 4
    }
    
    withName: make_adata {
    memory = '16 GB'
    cpus   = 1
   }

    withName: cellbender {
    clusterOptions = '-A seyedam_lab_gpu --partition=free-gpu --gres=gpu:1 --time=24:00:00'
    memory         = '32 GB'
    }

}



params {

  ///

  file_csv =  "/share/crsp/lab/seyedam/share/igvf_allele_specific_mapping/ASE_kb/ASE_samplesheets/ASE_all_strains_igvf_017_config.csv"
  
  ///

  // Read type can be RNA or ATAC 
  // Currently only RNA is supported 
  readType = 'RNA'


  topDir = "${launchDir}"

  strains = ["A_J", "CAST_EiJ", "NOD_ShiLtJ", "NZO_HlLtJ", "PWK_PhJ", "WSB_EiJ", "129S1_SvImJ"]
  // strains = ["CAST_EiJ"]

  mouse_vcf = "https://ftp.ebi.ac.uk/pub/databases/mousegenomes/REL-2112-v8-SNPs_Indels/mgp_REL2021_snps.vcf.gz"

  fasta_IGVF_acession = "IGVFFI9282QLXO"
  gtf_IGVF_acession = "IGVFFI4777RDZK"


  download_igvf_portal = "${launchDir}/scripts/download_igvf_portal.py"
  make_adata_script = "/share/crsp/lab/seyedam/share/igvf_allele_specific_mapping/ASE_kb/scripts/make_total_adata.py"
  cb_h5_to_h5ad_script = '/share/crsp/lab/seyedam/share/igvf_allele_specific_mapping/ASE_kb/scripts/h5_h5ad.py'



  kb_replacement_bcs = "/share/crsp/lab/seyedam/share/igvf_allele_specific_mapping/references/r1_RT_replace_WT_mega_v2.txt"
  kb_onlist = "/share/crsp/lab/seyedam/share/igvf_allele_specific_mapping/references/r1r2r3_WT_mega_v2.txt"

}



