// nextflow.config

conda {
  enabled = true
}

process {
  executor       = 'slurm'
  clusterOptions = '-A SEYEDAM_LAB --partition=standard --time=24:00:00'
  cpus           = 1
}

params {
  topDir = "${launchDir}"

  //strain = ["A_J", "CAST_EiJ", "NOD_ShiLtJ", "NZO_HlLtJ", "PWK_PhJ", "WSB_EiJ"]
  strain = ["A_J"]
  
  mouse_vcf = "https://ftp.ebi.ac.uk/pub/databases/mousegenomes/REL-2112-v8-SNPs_Indels/mgp_REL2021_snps.vcf.gz"

  fasta_IGVF_acession = "IGVFFI9282QLXO"
  gtf_IGVF_acession = "IGVFFI4777RDZK"




  download_igvf_portal = "${launchDir}/scripts/download_igvf_portal.py"


}


