// nextflow.config


conda {
  enabled = true
}


process {

  executor       = 'slurm'
  queueSize = 105
  clusterOptions = '-A SEYEDAM_LAB --partition=standard --time=24:00:00'
  cpus           = 1

  withName: kb_count {
    memory = '64 GB'
    cpus   = 4
  }
  
  withName: make_adata {
    memory = '16 GB'
    cpus   = 1
  }


  withName: cellbender {
    clusterOptions = '-A seyedam_lab_gpu --partition=free-gpu --gres=gpu:1 --time=24:00:00'
    memory         = '32 GB'
  }

}



params {
	file_csv =  "/share/crsp/lab/seyedam/share/igvf_allele_specific_mapping/ASE_kb/ASE_samplesheets/ASE_all_strains_igvf_021_config.csv"

    kb_replacement_bcs = "/share/crsp/lab/seyedam/share/igvf_allele_specific_mapping/references/r1_RT_replace_WT_mega_v2.txt"
	  kb_onlist = "/share/crsp/lab/seyedam/share/igvf_allele_specific_mapping/references/r1r2r3_WT_mega_v2.txt"

    kb_index = "/share/crsp/lab/seyedam/share/igvf_allele_specific_mapping/references/cat_kb_indices/"

    make_adata_script = "/share/crsp/lab/seyedam/share/igvf_allele_specific_mapping/ASE_kb/scripts/make_total_adata.py"

    cb_h5_to_h5ad_script = '/share/crsp/lab/seyedam/share/igvf_allele_specific_mapping/ASE_kb/scripts/h5_h5ad.py'
}









